.physical-exercise {
    background-image: url(../../images/runners-1.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 240px 0;
}

.physical-exercise__inner {
    display: inline-block;
    max-width: 490px;
    margin-left: 510px;
}

.physical-exercise__title {
    margin-top: 0;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
}

.physical-exercise__text {
    margin-top: 0;
    margin-bottom: 30px;
    padding-left: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    border-left: 3px solid #fff;
}

.physical-exercise__link {
    @include link-style;
    padding: 12px 46px;
    border: none;
    transition: background-color 0.5s ease;

    &:hover {
        background-color: #e9534b;
    }
}